# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
.env/
.venv/

# Environment variables
.env
.env.*
*.env

# -----------------------------
# Flask
# -----------------------------
instance/
.webassets-cache

# -----------------------------
# Logs
# -----------------------------
*.log
logs/

# -----------------------------
# Database
# -----------------------------
*.sqlite3
*.db

# -----------------------------
# IDE / Editors
# -----------------------------
.vscode/
.idea/
*.swp
*.swo

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Testing / Coverage
# -----------------------------
.coverage
htmlcov/
.pytest_cache/

# -----------------------------
# Build / Distribution
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Misc
# -----------------------------
*.bak
*.tmp
